/*
 * Group 14
 * CS3380 Term Project
 * LANDING PAGE STYLES
 */

/* MAKE SURE global.css HAS BEEN LINKED FIRST,
 * OTHERWISE THE COLOR VARIABLES WILL BREAK
 */

/* Landing page */
html, body {
    height: 100%;
}

main {
    opacity: 1;
}

#landing {
    background: none;
    border: none;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    font-family: 'Petrona';
    justify-content: center;
    min-height: 100%;
    padding: 0px;
}
#landing-article {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
#landing-article h1 {
    text-shadow: 0 0 3px black;
    flex: 1 100%;
    font-size: 5em;
}
#landing-article section {
    background: var(--light);
    border-radius: 1em;
    flex: 1;
    margin: 1em;
    opacity: 0.95;
    padding: 1em;
    transition:all 0.5s ease-in-out;
}
#landing-article section:hover {
    background: var(--lightHover);
    opacity: 1;
    transition:all 0.5s ease-in-out;
}
#landing a {
    border: 1px solid var(--accent);
    border-radius: 0.2em;
    color: var(--link);
    padding: 0.2em;
    text-decoration: none;
}
#landing a:hover {
    border-color: var(--accentHover);
    color: var(--linkHover);
    text-decoration: underline;
}
#landing h2 a { /* no border for heading link */
    border: none;
}
#landing-store a { /* custom for Enter button */
    font-size: 1.5em;
    transition: all 0.6s ease-in-out;
}
#landing-store a:hover {
    padding: 0.5em;
    transition: all 0.6s ease-in-out;
}
#landing-verify input {
    margin: 0;
    padding: 0.2em;
    font-size: smaller;
    font-family: inherit;
}
@media screen and (max-width: 640px) {
    #landing {
        display: block;
    }
    #landing-article {
        flex-direction: column; /* change to verticle section for mobile*/
    }
    #landing-article h1 {
        font-size: 3em;
    }
}
